@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#f4f0ff, #dacdff);
}
.chatbot-popup {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  right: 120px;
  bottom: 45px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  transform: translate(50%, 50%) scale(0);
}
.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0) scale(1);
}
.show-chatbot #chatbot-toggler span:first-child {
  opacity: 0;
}
.show-chatbot #chatbot-toggler span:last-child {
  opacity: 1;
}

#chatbot-toggler {
  position: fixed;
  right: 50px;
  bottom: 25px;
  border: none;
  background: #593bab;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#chatbot-toggler span {
  position: absolute;
  color: #fff;
}

.chatbot-popup .chatbot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6d4fc2;
  padding: 15px;
}
.chatbot-header .header-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-info svg {
  height: 35px;
  width: 35px;
  background: #fff;
  border-radius: 50%;
  fill: #6d4fc2;
  padding: 6px;
  flex-shrink: 0;
}
.header-info .logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}
.chatbot-header button {
  height: 40px;
  width: 40px;
  border: none;
  color: #fff;
  outline: none;
  font-size: 1.9rem;
  padding-top: 3px;
  cursor: pointer;
  border-radius: 50%;
  background: #6d4fc2;
  transition: 0.2s ease;
}

.chatbot-header button:hover {
  background: #593bab;
}

.chatbot-body {
  height: 460px;
  padding: 25px 22px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  margin-bottom: 55px;
  scrollbar-width: thin;
  scrollbar-color: #8e7ebb transparent;
}

.chatbot-body .error .message-text {
  color: #ff0000;
}
.chatbot-body .message {
  display: flex;
  align-items: center;
  gap: 11px;
}
.chatbot-body .bot-message svg {
  height: 35px;
  width: 35px;
  background: #6d4fc2;
  border-radius: 50%;
  fill: #fff;
  padding: 6px;
  flex-shrink: 0;
  margin-bottom: 2px;
  align-self: flex-end;
}
.chatbot-body .message .message-text {
  padding: 10px 14px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.9rem;
}
.chatbot-body .bot-message .message-text {
  background: #f6f2ff;
  border-radius: 13px 13px 13px 3px;
}
.chatbot-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chatbot-body .user-message .message-text {
  background: #6d4fc2;
  color: #fff;
  border-radius: 13px 13px 3px 13px;
}

.chatbot-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}
.chatbot-footer .chat-form {
  display: flex;
  outline: 1px solid #cccce5;
  align-items: center;
  border-radius: 22px;
}
.chatbot-footer .chat-form:focus-within {
  outline: 2px solid #6d4fc2;
}
.chat-form .message-input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 40px;
  padding: 1px 15px;
  font-size: 0.95rem;
}

.chat-form button {
  height: 35px;
  width: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  background-color: #593bab;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 2px;
}
.chatbot-footer .message-input:valid ~ button {
  display: block;
}

@media (max-width: 530px) {
  #chatbot-toggler {
    right: 15px;
    bottom: 20px;
  }
  .chatbot-popup {
    width: 100%;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
  }
  .chatbot-popup .chatbot-header {
    padding: 9px 13px;
  }
  .chatbot-body {
    padding: 14px 10px;
    height: calc(100vh - 131px);
  }
}
